### importing libraries

In [2]:
import pandas as pd

### reading CSV files

In [4]:
airports = pd.read_csv('airports_csv.csv')

In [7]:
weathers = pd.read_csv('weather_csv.csv')

### Exploring tables

In [8]:
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [29]:
weathers.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

### What is the northernmost airport in the United States?

#### Northern most airport will have the max positive latitude. So we will find the max lat from the airport data and find the airport.

In [51]:
northern_5_most_airports = airports.sort_values('lat', ascending= False).head()

In [52]:
northern_5_most_airports

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

#### According to data 'Dillant Hopkins Airport' is the northern most airport but according to google 'Wiley Post Will Rogers Mem' is the northern most airport.

### What is the easternmost airport in the United States?

#### Eastern most airport will have the max positive longitude. So we will find the max lon from the airport data and find the airport.

In [54]:
eastern_5_most_airports = airports.sort_values('lon', ascending= False).head()

In [55]:
eastern_5_most_airports

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

#### Eastern most airport is 'Eareckson As' according data. But after googling i relaized that coordinated for top 3 airports is wrong. The lon should be negative but its positive in the table. Actual eastern most airport is 'Bangor International Airport'.

### On February 12th, 2013, which New York area airport had the windiest weather?

#### checking for all the nyc airports

In [15]:
weathers.origin.unique()

array(['EWR', 'JFK', 'LGA'], dtype=object)

#### filtering for JFK and LGA airports

In [17]:
weathers_nyc_airports = weathers[(weathers.origin == 'JFK') | (weathers.origin == 'LGA')]

#### filtering for only feb 12th 2013 data

In [20]:
weathers_2013_feb = weathers_nyc_airports[(weathers_nyc_airports.year == 2013) & (weathers_nyc_airports.month == 2) &
                                          (weathers_nyc_airports.day == 12)]

#### windiest airport will have max wind_speed

In [22]:
max_wind_speed = weathers_2013_feb.wind_speed.max()

In [24]:
windiest_airport = weathers_2013_feb[weathers_2013_feb.wind_speed == max_wind_speed]

In [42]:
print("Windiest NYC airport is---", windiest_airport.origin.iloc[0])

Windiest NYC airport is--- LGA

### we sorted and looked into wind_speed distribution and did not find any extreme outlier

In [48]:
wind_dist = weathers_2013_feb.sort_values('wind_speed', ascending= False)

In [49]:
wind_dist.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
9717,JFK,2013,2,12,8,42.08,24.08,48.56,280.0,20.71404,27.61872,0.0,1011.6,10.0,2013-02-12T13:00:00Z
18427,LGA,2013,2,12,12,44.06,23.00,43.02,270.0,19.56326,26.46794,0.0,1011.8,10.0,2013-02-12T17:00:00Z